<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_vaadin:com.vaadin">
  <meta name="package-mapping" content="com_gmail_damien_ui_view_admin:com.gmail.damien.ui.view.admin">
 </head>
 <body>
  <vaadin-vertical-layout style-name="crud-template" spacing="false" responsive size-full margin="false">
   <vaadin-horizontal-layout style-name="top-bar" spacing="false" width-full height="50px">
    <vaadin-horizontal-layout spacing="false" width-full :middle :expand>
     <vaadin-text-field icon="fonticon://FontAwesome/f002" style-name="small inline-icon search" id="search" placeholder="Buscar" width-full _id="search"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-button icon="fonticon://FontAwesome/f067" style-name="borderless" id="add" plain-text _id="add" :middle :right>
      Nuevo Proyecto 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-css-layout style-name="content" size-full :expand>
    <vaadin-css-layout style-name="list" size-full>
     <vaadin-grid id="list" size-full data-item-type="uy.edu.ude.BuscadorProyectos.entity.Proyecto" _id="list">
      <table>
       <colgroup>
        <col column-id="id" sortable>
        <col column-id="nombre" sortable>
        <col column-id="anio" sortable>
        <col column-id="carrera" sortable>
        <col column-id="nota" sortable>
        <col column-id="tutor" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="id">Id</th>
         <th plain-text column-ids="nombre">Nombre</th>
         <th plain-text column-ids="anio">Año</th>
         <th plain-text column-ids="carrera">Carrera</th>
         <th plain-text column-ids="nota">Nota</th>
         <th plain-text column-ids="tutor">Tutor</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
    </vaadin-css-layout>
    <vaadin-vertical-layout enabled="false" style-name="inspect" spacing="false" id="form" width="513px" height-full margin="false" _id="form">
     <vaadin-css-layout style-name="edit" size-full :expand>
      <vaadin-css-layout style-name="section half" width-full>
       <vaadin-text-field caption="Nombre" style-name="small" id="nombre" width-full height="31px" _id="nombre"></vaadin-text-field>
      </vaadin-css-layout>
      <vaadin-css-layout style-name="section half" width-full>
       <vaadin-text-field caption="Año" style-name="small" id="anio" width-full _id="anio"></vaadin-text-field>
      </vaadin-css-layout>
      <vaadin-css-layout style-name="section half" width-full>
       <vaadin-text-field caption="Carrera" style-name="small" id="carrera" width-full height="31px" _id="carrera"></vaadin-text-field>
      </vaadin-css-layout>
      <vaadin-css-layout style-name="section half" width-full height="78px">
       <vaadin-text-field caption="Nota" style-name="small" id="nota" width-full height="31px" _id="nota"></vaadin-text-field>
      </vaadin-css-layout>
      <vaadin-css-layout style-name="section half" width-full height="150px">
       <vaadin-upload button-caption="Subir Archivo" width-full height="31px" _id="updProyecto"></vaadin-upload>
      </vaadin-css-layout>
     </vaadin-css-layout>
     <vaadin-horizontal-layout style-name="buttons border-top" width-full height="50px">
      <vaadin-button style-name="small primary" id="update" plain-text _id="update" :middle>
        Update 
      </vaadin-button>
      <vaadin-button style-name="small" id="cancel" plain-text _id="cancel" :middle :center>
        Cancel 
      </vaadin-button>
      <vaadin-button style-name="small danger" id="delete" plain-text _id="delete" :middle :right :expand>
        Delete 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>