<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="crud-template" spacing="false" responsive size-full margin="false">
   <vaadin-horizontal-layout style-name="top-bar" spacing="false" width-full height="50px">
    <vaadin-horizontal-layout spacing="false" width="130%" height-full>
     <vaadin-combo-box responsive id="cmbCategorias" placeholder="" text-input-allowed="false" empty-selection-caption="Todas" data-item-type="uy.edu.ude.BuscadorProyectos.valueObjects.CategoriaVO" _id="cmbCategorias" :middle></vaadin-combo-box>
     <vaadin-label id="lblCategoria" width="90%" plain-text _id="lblCategoria" :middle :center :expand>
       CATEGORÍA 
     </vaadin-label>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing="false" width="70%" height-full :middle :right>
     <vaadin-button icon="fonticon://FontAwesome/f067" style-name="borderless" id="btnNuevaTecnologia" plain-text _id="btnNuevaTecnologia" :middle :right>
       Nueva Tecnología 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-css-layout style-name="content" size-full :expand>
    <vaadin-css-layout style-name="list" size-full>
     <vaadin-grid id="grdTecnologias" width="50%" height-full data-item-type="uy.edu.ude.BuscadorProyectos.valueObjects.ElementoProyectoVO" _id="grdTecnologias">
      <table>
       <colgroup>
        <col column-id="nombre" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="nombre">Tecnologías</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
     <vaadin-grid id="grdSinonimos" width="50%" height-full data-item-type="uy.edu.ude.BuscadorProyectos.valueObjects.SinonimoVO" _id="grdSinonimos">
      <table>
       <colgroup>
        <col column-id="nombre" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="nombre">Sinónimos</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
    </vaadin-css-layout>
    <vaadin-vertical-layout enabled="false" style-name="inspect" spacing="false" id="form" width="513px" height-full margin="false" _id="form">
     <vaadin-css-layout style-name="edit" size-full :expand>
      <vaadin-css-layout style-name="section half" width-full>
       <vaadin-text-field caption="Tecnología" style-name="small" id="txtNombreTecnologia" width-full height="31px" _id="txtNombreTecnologia"></vaadin-text-field>
      </vaadin-css-layout>
      <vaadin-css-layout style-name="section half" width-full height="78px">
       <vaadin-combo-box caption="Categoría" empty-selection-allowed="false" id="cmbCategoriasTecnologias" placeholder="" text-input-allowed="false" width-full height="31px" data-item-type="uy.edu.ude.BuscadorProyectos.valueObjects.CategoriaVO" _id="cmbCategoriasTecnologias"></vaadin-combo-box>
      </vaadin-css-layout>
     </vaadin-css-layout>
     <vaadin-horizontal-layout style-name="buttons border-top" width-full height="50px">
      <vaadin-button style-name="small primary" id="btnAgregar" width="83px" plain-text _id="btnAgregar" :middle>
        Agregar 
      </vaadin-button>
      <vaadin-button visible="false" style-name="small primary" id="btnModificar" plain-text _id="btnModificar" :middle>
        Modificar 
      </vaadin-button>
      <vaadin-button style-name="small" id="btnCancelar" plain-text _id="btnCancelar" :middle :center>
        Cancelar 
      </vaadin-button>
      <vaadin-button style-name="small danger" id="btnBorrar" plain-text _id="btnBorrar" :middle :right :expand>
        Borrar 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>